/* Create Account Screen */

.box_layout {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

body {
    background-color: #02111B;
}

h1 {
    color:#FFFEDE;
    padding: 20px;
}

.content_all {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #30292F;
    padding: 10px;
    align-items: center;
    border: 3px#30292F;
    width: 400px;
}

.content_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.content_row p {
    color: #FFFEDE;
    font-size: 30px;
    margin: 10px; /* this allowed the gap between the rows to be smaller*/
}

.content_row_button {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 100px;
}

.content_row_button p{
    font-size: 10px;
    color: #FFFEDE;
}

.content_row_small_description p{
    font-size: 10px;
    gap: 5px;
    margin-top: 0px;
    color: #FFFEDE;
}

.p_hidden p{
    font-size: 20px;
    color: #383037;
}

.input_box {
    width: 150px;         
    height: 27px;
    background-color: #3F4045;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15),
        inset 0 -3px 6px rgba(0, 0, 0, 0.15);
  }

/* This is the same as the input box but its a different size and more blunt*/
.check_box {
    width: 20px;         
    height: 20px;
    background-color: #3F4045;
    border: none;
    cursor: pointer;
}

.email {
    display: flex;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.email p {
    color: #FFFEDE;
}

.continue_button_layout {
    display: flex;
    width: 100%;
    align-items: flex-end;
    margin-right: 20px;
    flex-direction: column;
    margin-bottom: 20px;
}

.continue_button_layout p{
    color: #FFFEDE;
}

.continue_button {
    border: #3F4045;
    background-color: #3F4045;
    border-radius: 20px;
    height: 35px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 85px;
    margin-bottom: 0px;
}

.continue_button p {
    color: #FFFEDE;
    font-size: 15px;
}

/* Terms and Conditions screen*/ 
.box_layout_terms_cond {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.content_terms {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #30292F;
    padding: 10px;
    width: 1000px;
    align-items: center;
    color:#FFFEDE;

}

.content_terms_scroll_box {
    background-color:#3F4045;
    border-radius: 20px;
    padding: 25px; 
    margin-left: 60px;    
    margin-right: 60px;  
    margin-bottom: 40px;
    width: 800px;
}

.content_terms_scroll_box p{
    margin-left: 20px;
}

.content_terms_scroll_box_paragraph {
    font-size: 12px;
    margin-bottom: 20px;
}

.content_terms_scroll_box_paragraph p:first-child {
    font-size: 16px;
}

.content_terms_scroll_box_paragraph p {
    margin-top: 0;
    margin-bottom: 5px;
}

.content_terms h1 {
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Terms and Conditions Quiz*/
.answer_option {
    border: 2px #02111B;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    justify-content: flex-end;
}

/* chatgpt showed me that you can do this*/
.answer_option input {
    margin-right: 10px;
    cursor: pointer;
}

/* Terms and Conditions Quiz Failed */

.failing_grade {
    color: #63FF68;
}

.passing_grade {
    color: #FF6161;
}
