/* Create Account Screen */

.box_layout {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

body {
    background-color: #02111B;
}

h1 {
    color:#FFFEDE;
    padding: 20px;
}

.content_all {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #30292F;
    padding: 10px;
    align-items: center;
    border: 3px#30292F;
    width: 400px;
}

.content_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.content_row p {
    color: #FFFEDE;
    font-size: 30px;
    margin: 10px; /* this allowed the gap between the rows to be smaller*/
}

.content_row_button {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.content_row_small_description p{
    font-size: 10px;
    gap: 5px;
    margin-top: 0px;
    color: #FFFEDE;
}

.content_row_button p{
    font-size: 10px;
}

.p_hidden p{
    font-size: 20px;
    color: #383037;
}

.input_box {
    width: 150px;         
    height: 27px;
    background-color: #3F4045;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15),
        inset 0 -3px 6px rgba(0, 0, 0, 0.15);
  }

/* This is the same as the input box but its a different size and more blunt*/
.check_box {
    width: 20px;         
    height: 20px;
    background-color: #3F4045;
    border: none;
    cursor: pointer;
}

.email {
    display: flex;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.email p {
    color: #FFFEDE;
}